html {
	font-family: sans-serif, helvetica;
	background-color: #494C4D;
	margin: 0px;


}

.headline {
	margin-left: 525px;
}

body {

	margin: 0px;


}


.topnav {

	list-style-type: none;
	color: #494C4D;
	margin-left: 450px;

}

.topnav ul {
	text-align: center;
	display: inline;

}

a:hover {
	color: blue;
	font-size: 15px;
	padding: 8px;
	border-radius: 3px;
	opacity: .4;
}



.topnav li {
	float: left;
	background-color: #0D1E8C;
	border-radius: 5px;
	padding: 20px;
	margin: 15px auto 10px 10px;
	text-align: center;

	
}

.topnav a {
	text-decoration: none;
	color: white;
	text-align: center;

}

.thanks {
	color: white;
	font-size: 16px;
	margin: 30px auto auto auto;
	text-align: center;


}



#services {
	margin-top: 140px;
	margin-left: 50px;
	color: white;
	font-size: 20px;
}

.seattle {
	margin-top: 40px;

}

.helpful {
	color: orange;
}

.active {
	background-color: #56C41F;
	padding: 6px;
	border-radius: 5px;
}

.about {
	color: ivory;
	margin: 150px;
	margin-left: 325px;
	background-color: #59A8C2;
	padding: 40px;
	width: 50%;
	border-radius: 10px;
}

#call {
	color: white;
	background-color: gray;
	padding: 17px;
	width: 20%;
	float: left;
	margin-top: 35px;
	text-align: center;
}

.affordable {
	color: white;
	background-color: gray;
	padding: 17px;
	width: 20%;
	float: right;
	margin-top: 35px;
	text-align: center;
}
 
.helpful {
	color: ivory;
	margin-left: 330px;
	margin-top: 150px;
	text-align: left;
	width: 50%;
	border: 5px solid gray;
	padding: 20px;
}

.mail img {
	margin-top: 200px;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

